/*
    * fuente
*/

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&display=swap');


/*
    * variables
*/
:root {
    --color-purpura: #8B48BF;

    --color-title: #232851;
    --color-text-dark: #010101;
    --color-text-grey: #B3B2B7;

    --color-name-testimonials: #3F4868;

    --color-purpura-hover: #8B48BFB2;
    --color-grey-hover: #242E5299;

    --color-bg-paragaprh: #8B48BF4D;
    --color-bg-footer: #1E1E26;
}


/*
    * universal
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid magenta; */
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* 
    * header 
*/

.container {
    width: 90%;
    margin: auto;
    max-width: 81.25rem;
}


.logo img {
    vertical-align: middle;
}

.header-container {
    padding: 2rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    display: none;
}

.nav__items {
    display: flex;
    column-gap: 1.5rem;
}

.nav__item {
    list-style: none;
}

.nav__link {
    display: inline-block;
    font-weight: 500;
    font-size: .8rem;
    text-decoration: none;

    padding: .5rem;
}

.nav__link:hover {
    color: var(--color-grey-hover);
}

.btn-get {
    width: 9rem;
    height: 2.75rem;
    text-align: center;
    display: inline-block;
    font-size: .8rem;
    text-decoration: none;
    font-weight: 500;

    background: var(--color-purpura);
    color: #fff;

    padding-top: .8rem;
    padding-bottom: .8rem;
    border-radius: 3rem;
    box-shadow: 0 4px 7px 0 #00000040;

    transition: background-color .4s linear;
}

/* 
    * boton hover "Get Started" 
    Lo que hace el la pseudoclase :not() dentro de los parentesis colocar la ( clase - id - etiqueta ) que no queremos aplicar los estilos. En este caso no quiero agregarle el estilo :hover a la clase .btn-get--simplify.
*/
.btn-get:not( .btn-get--simplify ):hover {
    background: var(--color-purpura-hover);
}

/*
    * main
*/

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 0;
}

.invitation, .ilustration {
    width: 35rem;
}

.invitation {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.invitation__title {
    width: 35rem;
    font-size: 3.62rem;
    color: var(--color-title);
}

.ilustration {
    text-align: center;
}

.ilustration img {
    width: 100%;
    vertical-align: middle;
}

.main-container--different {
    align-items: flex-start;
}

.different-manage, .different-manage-points {
    width: 50%;
}

.different-manage {
    width: 28rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.different-manage__title {
    font-size: 2.2rem;
}

.different-manage__paragraph {
    width: 22rem;
    font-weight: 500;
    line-height: 1.2rem;
}

.different-manage-points {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.different-manage-point {
    width: 90%;
    display: flex;
    column-gap: 1.2rem;
    margin-left: auto;
}


.different-manage-point__number {
    min-width: 4rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 1.8rem;
    color: #fff;
    font-weight: 700;
    background: var(--color-purpura);
}

.different-manage-point__texts {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding-top: .5rem;
}

.different-manage-point__title {
    color: var(--color-title);
    font-size: 1rem;
}

.different-manage-point__paragraph {
    color: var(--color-text-grey);
    font-weight: 500;
}

/*
    * testimonials
*/

.testimonials-container {
    text-align: center;
    padding: 3rem 0 5rem;
    margin-bottom: 5rem;
}

.testimonials-title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-title);
    margin-bottom: 5rem;
}   

.testimonials {
    display: flex;
    column-gap: 1rem;
    margin: 3rem auto;
    padding: 0 1rem 2rem;
    background: #fafafa;
}

.testimonial {
    width: calc(100% / 3);
    height: 13rem;
    text-align: center;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial figure {
    position: relative;
    bottom: 20%;
    left: 50%;

    transform: translateX( -50% );
}

.testimonial__img {
    width: 4.37rem;
    height: 4.37rem;
}

.testimonial__name {
    font-size: 1rem; 
    color: var(--color-name-testimonials);
    margin-bottom: 2rem;
}

.testimonial__texts {
    color: var(--color-text-grey);
    font-weight: 400;
}


/*
    * simplify
*/

.simplify {
    padding: 4rem;
    background: var(--color-purpura);
}

.simplify-container {
    max-width: 1300px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;
}

.simplify__text {
    width: 40%;
    color: #fff;
    font-size: 2.5rem;
}

.btn-get--simplify {
    background: #fff;
    color: var(--color-purpura);
}

/*
    * footer
*/

.footer {
    background: var(--color-bg-footer);
    padding: 2.75rem 0;
}

.container-footer {
    width: 90%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.social-networks-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-networks {
    display: flex;
    justify-content: space-between;
}

.social-networks__item {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.25rem;
}

.nav-footer {
    width: calc( 100% / 2 );
    display: flex;
    justify-content: space-evenly;
}

.nav-footer__items {
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
}

.nav-footer__item {
    list-style: none;
}

.nav-footer__link {
    font-size: .9rem;
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
    padding: .4rem;
}

.form-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form {
    width: 100%;
}

.input, .button-submit {
    display: inline-block;
}

.input {
    width: 14rem;
    height: 2.75rem;

}

.input__email {
    width: 100%;
    height: inherit;
    line-height: 2.75rem;
    border: none;
    border-radius: 3rem;
    padding: 0 1rem;
}

.input__email:focus {
    outline: none;
}

.button-submit {
    width: 3.8rem;
    height: 2.75rem;
    border-radius: 3rem;

    background: var(--color-purpura);

    color: #fff;
    font-weight: 500;
    cursor: pointer;

    border: var(--color-purpura);
}


.copyright {
    font-size: .7rem;
    text-align: end;
    color: var(--color-text-grey);
}


@media screen and ( max-width: 480px ) {

    .burger {
        display: block;
    }

    .burger a {
        font-size: 2rem;
    }

    .nav {
        display: none;
    }

    .header-container .btn-get {
        display: none;
    }
    

    /*
        * main
    */

    .main-container {
        flex-direction: column-reverse;
        padding: 2rem 0;
        row-gap: 3rem;
    }

    .main-container:nth-child( 2 ) {
        margin: 2rem auto;
    }

    .invitation, .ilustration {
        width: 100%;
    }

    .invitation {
        text-align: center;
        row-gap: 2rem;
    }

    .invitation .btn-get {
        margin: auto;
    }

    .invitation__title {
        width: 100%;
        font-size: 2.5rem;
    }

    /*
        * seccion different
    */
    .main-container:nth-child( 2 ) {
        flex-direction: column;
    }

    .different-manage {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .different-manage__title {
        font-size: 1.8rem;
        
    }

    .different-manage__paragraph {
        width: 98%;
        margin: auto;
    }

    .different-manage-points, .different-manage-point {
        width: 100%;
    }

    .different-manage-point {
        flex-direction: column;
        
        position: relative;
    }

    .different-manage-point__number {
        min-width: 3.5rem;

        position: absolute;
        top: 0;
    }

    .different-manage-point__texts {
        padding-top: 0;
    }

    .different-manage-point__title {
        width: 100vw;
        height: 2.5rem;
        line-height: 2.5rem;
        padding-left: 4rem;

        font-size: .95rem;

        color: #323851;
        background: var(--color-bg-paragaprh);

        border-radius: 1.8rem 0 0 1.8rem;
    }

    /*
        * section testimonials
    */

    .testimonials-container {
        margin-bottom: 0;
    }

    .testimonials-title {
        font-size: 2rem;
    }

    .testimonial:nth-child(odd) {
        display: none;
    }

    .testimonial {
        width: 100%;
    }

    .testimonial figure {
        bottom: 10%;
    }

    /*
        * section simplify
    */

    .simplify {
        padding: 2rem;
    }

    .simplify-container {
        flex-direction: column;
        text-align: center; 
        row-gap: 2rem;
    }

    .simplify__text {
        width: 100%;
        font-size: 2.3rem;
    }

    /*
        * footer
    */

    .footer {
        padding-bottom: 8rem;
    }

    .container-footer {
        height: auto;
        flex-direction: column-reverse;
        position: relative;

        row-gap: 2rem;
    }

    .social-networks-logo {
        flex-direction: column-reverse;
        text-align: center;
        row-gap: 3rem;
    }

    .nav-footer {
        width: 100%;
        justify-content: space-around;
        
        margin-bottom: 1rem;
    }

    .form-copyright {
        width: 100%;
    }

    .input {
        width: 80%;
    }

    .copyright {
        width: 100%;

        margin-top: 2.5rem;
        position: absolute;
        top: 100%;
        text-align: center;
    }
}